Data/
*.html
*.png
*.pyc
ModelCell/
ResultCell/
ShapeUtil/RobustStat/
ShapeUtil/TemCellGraph
ConfigMemb/ShapeConfigs
Resource
Tem
TestProject
nibabel

**.nii.gz
**.png
.idea
ShapeUtil/.ipynb_checkpoints
/ResultTem
/ShapeUtil/TemCellGraph
./ShapeUtil/tem.csv
./ShapeUtil/*.txt
ResultCell/
**.csv
**.avi
tem.py
tem.sh
run_shape_analysis.sh
run_test_edt.sh
run_train_edt.sh
Dockfile
venv

!./ShapeUtil/*.csv
!./ShapeUtil/*.txt
