Data/
*.html
*.png
*.pyc
**.nii.gz
**.png
**.csv
**.avi
./ShapeUtil/*.txt


ModelCell/
ResultCell/
ShapeUtil/RobustStat/
ShapeUtil/TemCellGraph
ConfigMemb/ShapeConfigs
Resource
Tem
TestProject
nibabel
ShapeUtil/.ipynb_checkpoints
/ResultTem
/ShapeUtil/TemCellGraph
.idea
ResultCell/


./ShapeUtil/tem.csv
robust_analysis.py
tem.py
tem.sh
run_shape_analysis.sh
run_test_edt.sh
run_train_edt.sh
Dockfile
venv

!./ShapeUtil/*.csv
!./ShapeUtil/*.txt
