Data/
*.html
*.png
*.pyc
ModelCell/
ResultCell/
ShapeUtil/RobustStat/
ShapeUtil/TemCellGraph

**.nii.gz
**.png
.idea
ShapeUtil/.ipynb_checkpoints
/ResultTem
/ShapeUtil/TemCellGraph
./ShapeUtil/tem.csv
./ShapeUtil/*.txt
ResultCell/
**.csv
**.avi
venv

!./ShapeUtil/*.csv
!./ShapeUtil/*.txt
