keras==2.6.0
numpy==1.19.5
scipy==1.8.1
setproctitle==1.2.3
tensorboard==2.9.1
tensorflow==2.6.0
numba==0.55.1
imageio==2.20.0
itk==5.2.1
matplotlib==3.5.2
networkx==2.8.5
nibabel==4.0.1
opencv-python-headless==4.7.0.68
pandas==1.4.3
pyinstaller==5.8.0
pyqt5==5.15.7
scikit-image==0.19.3
simpleitk==2.1.1.2
tifffile==2022.7.28
tqdm==4.64.0
treelib==1.6.1
vtk==9.1.0
